           <div class="card-body" data-mdb-perfect-scrollbar="true" style=" height: 400px; overflow-y:scroll;" id="mensajes-chat"></div>


            <form onsubmit="return enviarMensaje(this)" >
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                                <input id="email" type="email" class="form-control mensajeinput" required placeholder="Email" />
                                <input id="chat_mensaje" type="text" class="form-control mensajeinput" placeholder="Mensaje..." />
                        <input id="enviar_msj" type="submit" class="form-control btnMensaje" placeholder="Enviar" />
                    </div>
                </div>
            </form>
            
        </main>
    </div>
  